<%= form_for @user, url: users_login_path, remote: false do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password, required: true %>
  <%= f.submit 'Abschicken' %>
<% end %>
