<%= form_for @user, url: users_create_path, remote: false do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password, required: true %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, required: true %>
  <%= f.submit 'Abschicken' %>
<% end %>
