<% @boards.each do |board| %>
  <fieldset>
    <legend><%= link_to board.name, boards_show_path(board) %></legend>
    <% if board.boards.present? %>
      <% board.boards.each do |sub_board| %>
        <%= link_to sub_board.name, boards_show_path(sub_board) %><br /> <br />
      <% end %>
    <% else %>
      leer
    <% end %>
  </fieldset>
<% end %>