<p>Name: <%= @board.name %></p>


<% if @is_main_category %>
  <fieldset>
    <legend>Subboards</legend>
    <ul>
      <% @board.boards.each do |sub_board| %>
        <li><%= link_to sub_board.name, boards_show_path(sub_board) %></li>
    <% end %>
    </ul>
  </fieldset>
<% end %>

<hr />

<% if policy(BoardTopic).new? %>
  <%= link_to 'Neues Topic Erstellen', board_topics_new_path %>
<% end %>

<table style="border: 1px solid black;">
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, board_topics_show_path(@board, topic) %></td>
    </tr>
  <% end %>
</table>
