<%= form_for @board_topic, url: board_topics_create_path, remote: false do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for @board_topic_post do |p| %>
    <p>
      <%= p.label :content %>
      <%= p.text_area :content %>
    </p>
  <% end %>
  <%= f.submit 'Abschicken' %>
<% end %>
