<div id="board-topic-id" data-id="<%= @board_topic.id %>" style="display: none;"></div>

Titel: <%= @board_topic.title %>

<div id="posts-list">
<% @posts.each do |post| %>
  <%= render partial: 'board_topic_posts/show', locals: { post: post} %>
<% end %>
</div>

<% if policy(BoardTopicPost).new? %>
  <%= form_for @board_topic_post_answer, url: board_topic_post_comment_path do |comment| %>
    <%= comment.label :content %>
    <%= comment.text_area :content %>

    <%= comment.file_field :file %>

    <%= comment.submit 'Abschicken' %>
  <% end %>
<% end %>
