<fieldset>
  <legend><%= post.username %></legend>
  <%= post.content %>
  <% if post.file.attached? %>
    <%= link_to "Download Attachment (#{post.file.filename}, #{Filesize.from("#{post.file.byte_size} B").pretty})", rails_blob_path(post.file) %>
    <% if policy(post).delete_file? %>
      <%= link_to "Delete File", board_topic_posts_delete_file_path(post), method: :delete %>
    <% end %>
  <% end %>
  <% if policy(post).delete? %>
    <%= link_to "Delete Post", board_topic_posts_delete_path(post), method: :delete %>
  <% end %>
  <hr/>
  <%= l post.created_at %>
</fieldset>