<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if User.current %>
    <p>Eingeloggt: <%= User.current.username %><%= link_to 'logout', users_logout_path, method: :post %></p>
    <% else %>
    <p>Eingeloggt als Gast! Einloggen? <%= link_to 'login', users_login_path %></p>
    <% end %>
    <% if flash[:error] %>
      <fieldset><%= flash[:error] %></fieldset>
    <% end %>
    <% if flash[:success] %>
      <fieldset><%= flash[:success] %></fieldset>
    <% end %>
    <%= yield %>
  </body>
</html>
